html{
    overflow-y:auto;
    overflow-x: hidden;
}
.page-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #eee;
}
.content{
    padding-top:120px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: -20px;
    margin-bottom: 10px;
}
/*下拉框宽度设置*/
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 140px;
    height: 34px;
}
.red{
    color: red;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog{
    /*margin-left:35%;*/
}
#tip{
    color: red;
    font-size: 12px;
}

.active{
    color: #6195ff;
    cursor: pointer;
}

.transparent_class {
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.table.dataTable thead th, table.dataTable td{
    text-align: center;
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-size: 17px;
}
textarea {
    padding: 10px 10px;
    min-height: 60px;
    max-height: 60px;
    resize: vertical;
}

.form-control-static{
    font-weight: bold;
}
.form-control-static span{
    font-weight: normal;
}
