#myWrap01{
    position:fixed;
    z-index:9999;
    left:3%;
    top:25%;
    padding:8px;
    color:#fff;
    background:#5e6cd9;
    font-size:30px;
}
#myWrap01 a{
    color: #fff;
}
#myWrap02{
    position:fixed;
    z-index:9999;
    left:3%;
    top:50%;
    padding:8px;
    color:#fff;
    background:#c3d719;
    font-size:26px;
}
#myWrap02 a{
    color: #fff;
}
#myWrap03{
    position:fixed;
    z-index:9999;
    left:3%;top:75%;
    padding:8px;
    color:#fff;
    background:#54d17b;
    font-size:23px;
}
#myWrap03 a{
    color: #fff;
}
#linkWrap{
    text-align: center;
    padding: 15px 0px;
}

#linkWrap p{
    border-bottom:1px solid #EEE;
    padding-bottom:5px;
}
#linkWrap div{
    margin-top: 10px;
}
#linkWrap span{
    font-size: 16px;
    padding: 6px;
}
