<!doctype html>
<html>

<head>
	<title>极光推客</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="../../static/img/logo/icon.png">
    <link rel="stylesheet" href="../../static/css/root.css">
	<link rel="stylesheet" href="../../static/css/main-index.css">
    <link href="https://cdn.bootcss.com/bootstrap-slider/10.2.1/css/bootstrap-slider.min.css" rel="stylesheet">
    <style>
        textarea {
            padding: 10px 10px;
            min-height: 120px;
            resize: vertical;
        }
        .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
            margin-top: 0;
            margin-left: 0px;
        }
        .checkbox-inline, .radio-inline{
            padding-left: 0px;
            margin-right: 12px;
        }
        /* blue */
        .icheckbox_flat-blue,
        .iradio_flat-blue {
            display: inline-block;
            *
            display: inline;
            vertical-align: middle;
            margin-right: 3px;
            padding: 0;
            width: 20px;
            height: 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
	<div id="loading" class="loading-wrap" style="display: block;">
		<div class="loader" >
			<div class="la-ball-clip-rotate-multiple la-3x">
				<div></div>
				<div></div>
			</div>
			<div class="loaderTxt">数据交互中...</div>
		</div>
	</div>
	<input type="hidden" value="<% ._xsrf%>" id="token">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav id="navbar-menu" class="navbar navbar-default navbar-fixed-top" style="height: 80px;">
			<div class="brand" style="padding: 0px 50px;line-height: 80px;background: none">
                <a href="/main"><p style="font-family: Panxiang;font-size: 26px">极光推客</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn" style="line-height: 90px;padding: 0px 0px;margin-top: 0px">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>

				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" style="height: 80px;">

						<li onclick="changeDrop()" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../../static/img/avatar.png" style="width: 35px;" class="avatar" alt="Avatar"> <span id="account">Hi，<%.account%></span> <i id="drop" class="fa fa-angle-down" aria-hidden="true"></i></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:$('#profileSetting').click();"><i class="fa fa-user-o" aria-hidden="true"></i> <span>个人设置</span></a></li>
								<li><a href="javascript:$('#message').click();"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>消息提醒</span></a></li>
								<li id="sysSetting"><a href="javascript:redirect('sysSetting',this)"><i class="fa fa-cogs" aria-hidden="true"></i> <span>系统设置</span></a></li>
								<li ><a href="/timeout" style="color: red"><i class="fa fa-sign-out" aria-hidden="true"></i> <span >退出</span></a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->

		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul id="navUl" class="nav">
						<li id="home" onclick="redirect('home',this)"><i class="fa fa-home" aria-hidden="true"></i> <span>首页</span></li>
                        <li id="template" onclick="redirect('template',this)"><i class="fa fa-clone" aria-hidden="true"></i> <span>模板页管理</span></li>
                        <li id="keywordNav" onclick="redirect('keyword',this)"><i class="fa fa-key" aria-hidden="true"></i> <span>关键词管理</span></li>
                        <li id="adNav" onclick="redirect('ad',this)"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>广告页管理</span></li>
                        <li id="customerNav" onclick="redirect('ad',this)"><i class="fa fa-money" aria-hidden="true"></i> <span>客户管理</span></li>
						<li id="message" onclick="redirect('news',this)"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>消息提醒</span></li>
						<li id="profileSetting" onclick="redirect('profile',this)"><i class="fa fa-user-o" aria-hidden="true"></i> <span>个人信息</span></li>
                        <li id="user" onclick="redirect('user',this)"><i class="fa fa-users" aria-hidden="true"></i> <span>用户管理</span></li>
                        <li id="testPage" onclick="redirect('test',this)"><i class="fa fa-random" aria-hidden="true"></i> <span>模板页测试</span></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->

		<!-- MAIN -->
		<div class="main">
            <iframe  id="mainframe" name="myFrame" width="100%" height="100%" src="" frameborder="0" data-id="" ></iframe>
		</div>
		<!-- END MAIN -->

        <div id="navBtn" style="position: fixed;right:20px;bottom: 20px;display: none;">
            <button class="btn btn-default">切换导航页</button>
        </div>

		<div class="clearfix"></div>

        <!-- 切换导航页-模态框（Modal） -->
        <div class="modal fade" id="myModal" style="overflow-y: auto;z-index: 9999" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="modalClose" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h3 style="font-weight: 700" class="modal-title" id="editModalLabel">
                            切换导航页
                        </h3>

                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" autocomplete="off">

                            <div class="page" >

                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">选择导航</label>
                                    <div class="col-sm-8">
                                        <div class="radio" style="float: left;border: 0px solid red;height: 35px;line-height: 18px;">
                                            <input style="outline: none !important;" type="radio" name="radio" id="radio1" value="https://www.starnavi.cn/">
                                            <label for="radio1">
                                                简约导航
                                            </label>
                                        </div>
                                        <div class="radio" style="float: left;border: 0px solid red;height: 35px;line-height: 18px;margin-left: 8px;">
                                            <input tabindex="-1" type="radio" name="radio" id="radio2" value="https://www.starnavi.cn/">
                                            <label for="radio2">
                                                星空导航
                                            </label>
                                        </div>
                                        <div class="radio" style="float: left;border: 0px solid red;height: 35px;line-height: 18px;margin-left: 8px;">
                                            <input tabindex="-1" type="radio" name="radio" id="radio3" value="https://hao.360.cn/">
                                            <label for="radio3">
                                                360导航
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label"></label>
                                    <div class="col-sm-8">
                                        <div class="radio" style="float: left;border: 0px solid red;height: 35px;line-height: 18px;margin-left: 0px;">
                                            <input tabindex="-1" type="radio" name="radio" checked id="radio4" value="https://www.hao123.com/">
                                            <label for="radio4">
                                                hao123导航
                                            </label>
                                        </div>
                                        <div class="radio" style="float: left;border: 0px solid red;height: 35px;line-height: 18px;margin-left: 8px;">
                                            <input tabindex="-1" type="radio" name="radio" id="radio5" value="https://www.2345.com/">
                                            <label for="radio5">
                                                2345导航
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label"></label>
                                    <div class="col-sm-8">

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="confirm" class="btn btn-success" >
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    </div>
	<!-- END WRAPPER -->

    <!-- Javascript -->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="../../static/back/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../static/back/assets/scripts/klorofil-common.js"></script>
    <script src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>
	<script src="../../static/js/util.js"></script>
	<script>var userInfo = <%.userInfo%>;var keywords = <%.dataList%>;</script>
    <script src="../../static/js/main/index.js"></script>
</body>

</html>
